*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.outer{
    background-color:black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.inner{
    width: 400px;
    height: 500px;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 25px grey;
    padding: 20px;
}

.inner > h1{
    color: rgb(144, 197, 39);
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}
.inner > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}
.inner > form > input {
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    border: none;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border-radius: 7px;
    width: 100px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.2px;
    background-color: rgb(210, 146, 77);
}

button:hover{
    color: white;
    background-color: rgb(18, 74, 122);
}
.i{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.i>i{
    font-size: 17px;
    color: blue;
}
a{
    font-size: 17px;
}