*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    background-color: white;
    height: 100vh;
    display: flex;
   
}
.outer>.left{
    flex-basis: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
     align-items: center;
     justify-content: center;

}
.outer>.right{
    background-color: black;
    flex-basis: 50%;
    color: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer>.right>.rightouter{
    padding: 20px 45px;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 25px;
}
h1{
    color: rgb(255, 255, 255);
    margin-bottom: 18px;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 5px;
}
form > h2{
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
form >input{
    padding: 20px;   
    border: 3px solid black;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    
}


form>button{
    border: none;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
}
form>button:hover{
    background-color: rgb(10, 114, 79);
}
footer{
    font-weight: bold;
    margin-top: 25px;
     width: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
